<div class="jumbotron">
    <h1 class="title">Fashion Offer</h1>
    <p class="slogan">发现你，找到它。
    <br>
    时尚新潮工作尽在 Fahion Offer
    </p>
    <p class="lead"><a class="btn btn-lg btn-primary" href="/jobs">马上应征</a></p>
 </div>

 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://ww4.sinaimg.cn/large/006tNbRwjw1fcix77up1aj303m03mglh.jpg" alt="search" class = "img-thhumbnail">
           <div class="caption">
             <h3>广州天河城</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://ww2.sinaimg.cn/large/006tNbRwjw1fciygpw1w6j303m03mglj.jpg" alt="bid" class = "img-thhumbnail">
           <div class="caption">
             <h3>info@fashion.com</h3>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://ww1.sinaimg.cn/large/006tNbRwjw1fciyhywyovj303m03mwee.jpg" alt="bid" class = "img-thhumbnail">
           <div class="caption">
             <h3>0756-8598178</h3>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
